extends templates/template.pug

block main
	.container.white-text
		.col-s12.center
			h1 #{status}
			if message
				h4 #{message}
			p #{__('error_suggest')}
			iframe.err-img(src="http://www.scs.stanford.edu/~dm/home/papers/remove.pdf")

