extends template.pug

block main
	.container
		.col-s12.center
			h1 #{status}
			p You may want to go back to the previous page.
			img(src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Greece_checks_his_email.gif")
