extends templates/template.pug

block main
	.container.white-text
		.col-s12.center
			h1 #{status}
			if message
				h4 #{message}
			p #{__('error_suggest')}
			iframe.err-img(src="https://mss.ovh/remove.pdf")
			p: a(href="http://www.scs.stanford.edu/~dm/home/papers/remove.pdf"): i David Mazieres and Eddie Kohler. Get me off Your Fucking Mailing List. New York University, University of California, Los Angeles.
