extends templates/template.pug

block main
	.container.white-text
		.col-s12.center
			h1 #{status}
			if message
				h4 #{message}
			p #{__('error_suggest')}
			img.err-img(src="https://send-me-some.discordmail.com/1510085850.png")

