extends templates/template.pug

block head
	link(rel="stylesheet" href="/css/embed.css")

block main
	.portion.dgrey.white-text
		.container
			.section
				.row.center
					.col.s12
						h3 As of the 27th April 2018, DiscordMail will be entering a "shutting down" phase.
						h4 Users are advised to back up E-Mails they may require before the 27th May 2018, when DiscordMailHooks will be replacing DiscordMail.
						a.waves-effect.btn-large.burple(href="https://webhooks.discordmail.com/" target="_blank") DiscordMailHooks
						p: a(href="/url/help" target="_blank") #{__('main_guild')}
						p: a(href="/url/github" target="_blank") #{__('github')}
