extends template.pug

block main
	.container
		.col-s12
			p You can help improve internationalisation by helping to localise DiscordMail.
			p: a(href="https://github.com/moustacheminer/discordmail/tree/master/locales") #{__('github')}
		.col-s12
			ul
				li: a(href="/lang/en-gb") English (United Kingdom)
				li: a(href="/lang/blank") DiscordMail Development
				li: a(href="/lang/bullshit") Random Bullshit / Hdkaja oajwka laa
				li: a(href="/lang/fire") Oh my God, I'm on fire!
