<html>
	<head>
		<link href="/css/dsuite.css" type="text/css" rel="stylesheet">
		<title>Dmail</title>
		<meta name="author" content="Moustacheminer Server Services">
		<meta name="description" content="Dmail">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav>
			<img class="logo" src="https://discordapp.com/assets/e4923594e694a21542a489471ecffa50.svg">
			<div class="back-bar">
				<h1>Welcome to Dmail</h1>
			</div>
		</nav>
		<main>
			<h2>A Discord approach to email.</h2>
			<p>Dmail is an experiment in a new kind of webmail, based on the idea that you should be able to communicate all in one place. The key features are:</p>
			<ul>
				<li>
					<b>Search, don't sort</b><br>
					Discord's integrated search feature allows you to find the <b>exact email you want</b>, no matter when it was sent or recieved.
				</li>
				<li>
					<b>Don't throw anything away</b><br>
					Storage is provided by Discord's excellent servers, so you'll never need to delete another message.
				</li>
				<li>
					<b>Keep the most important messages up top</b><br>
					Pin messages you need the most using the right click options menu in Discord
				</li>
				<li>
					<b>No pop-up ads. No banners.</b><br>
					Just the love of a free service.
				</li>
			</ul>
		</main>
		<aside>
			<div class="grey-box">
				<p>
					<b>Discord Mail Registration</b><br>
					Dmail does not currently support browser.<br>
					To register, type <code>dmail register</code> from within Discord, where a Dmail bot is available.
				</p>
			</div>
			<div class="grey-box">
				<p>
					<b>Links</b><br>
					<a href="/">Home</a><br>
					<a href="terms.html">Terms of Service and Privacy Statement</a><br>
					<a href="https://discordapp.com/oauth2/authorize?=&client_id=330003632298917889&scope=bot&permissions=0">Invite</a><br>
					<a href="https://discordapp.com">Discord's Website</a><br>
					<a href="https://moustacheminer.com">Moustacheminer Server Services</a><br>
					<a href="mailto:7coil%233175@discordmail.com">Contact Us</a>
				</p>
			</div>
		</aside>
		<footer>
			<div class="back-bar">
				<p>Powered by Express, Eris and Mailgun</p>
				<p>
					© 2015 - 2017 moustacheminer.com<br>
					© 1995 - 2001 discordmail.com<br>
					Moustacheminer Server Services are not associated with Discord Inc.
				</p>
			</div>
		</footer>
	</body>
</html>
