<html>
	<head>
		<link href="/css/dmail.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<nav>
			<h1>Discord Mail</h1>

			<p>
				<b>New @ Discord!</b><br>
				Your Discord account just got more powerful with Discord Mail.
			</p>
			<p>
				<b>All about Discord Mail</b><br>
				Get notified when you have new Mail or when your friends are online. Send instant messages. Type <code>dmail register</code> to activate your own Discord Mail account!
			</p>
			<p>
				<b>Less important commands</b><br>
				<code>dmail help</code><br>
				Display the help menu for Discord Mail<br>
				<code>dmail info</code><br>
				Get information about the bot.
			</p>
			<p>
				<b>Links</b><br>
				<a href="https://discordapp.com">Discord's Website</a><br>
				<a href="https://moustacheminer.com">Moustacheminer Server Services</a><br>
				<a href="mailto:7coil#3175@discordmail.com">Contact Us</a>
			</p>
		</nav>
		<main>
			<h2>New user? Sign up now!</h2>
			<p>DiscordMail allows you to link your Discord account to the internet!</p>
			<h3>Valid commands:</h3>
			<h4>dmail register</h4>
			<p>Register for DiscordMail</p>
			<h4>dmail send email@example.com "subject" content</h4>
			<p>Send an email to the specific email, containing the subject and content specified within the command.</p>
			<div class="footer">
				<img class="logo" src="https://discordapp.com/assets/e4923594e694a21542a489471ecffa50.svg">
				<p>Powered by Discord</p>
				<p>
					© 2015 - 2017 moustacheminer.com<br>
					© 1995 - 2001 discordmail.com<br>
					Moustacheminer Server Services are not associated with Discord Inc.
				</p>
				<!--
				<p>
					<a href="terms">Terms of Service</a>
					-
					<a href="privacy">Privacy Statement</a>
				</p>
				-->

			</div>
		</main>
	</body>
</html>
