@font-face {
	font-family: "Whitney";
	src: url(/font/whitney.woff);
}

body {
	font-family: "Whitney", "Roboto", sans-serif;
}

.burple {
	background-color: #7289DA !important;
}

.greyple {
	background-color: #99AAB5 !important;
}

.dgrey {
	background-color: #36393E !important;
}

.dark {
	background-color: #2C2F33 !important;
}

.dblack {
	background-color: #23272A !important;
}

#iframe {
	border-width: 0px;
	border-style: none;
	background-color: #FFFFFF;
	width: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
