@font-face {
	font-family: "Whitney";
	src: url(/font/whitney.woff);
}

body {
	font-family: "Whitney", "Roboto", sans-serif;
}

.burple {
	background-color: #7289DA !important;
}

.burplef {
	fill: #7289DA;
}

.greyple {
	background-color: #99AAB5 !important;
}

.greyplef {
	fill: #99AAB5;
}

.dgrey {
	background-color: #36393E !important;
}

.dgreyf {
	fill: #36393E;
}

.dark {
	background-color: #2C2F33 !important;
}

.dblack {
	background-color: #23272A !important;
}

#iframe {
	border-width: 0px;
	border-style: none;
	background-color: #FFFFFF;
	width: 100%;
}

a.button-collapse {
	display: block !important;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.portion {
	width: 100%;
}

.bordering {
	height: 25px;
	display: block;
}

.g-recaptcha {
	margin: 10px 0px;
}
