.embed-wrapper {
    position: relative;
    margin-top: 5px;
    max-width: 520px;
    display: flex;
    margin: 0;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 520px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-color-pill {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(30, 215, 96);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: block;
    flex-shrink: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    width: 4px;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-rich {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    position: relative;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-user-select: text;
}
.embed-content {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-footer {
    border-bottom-color: rgba(255, 255, 255, 0.6);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(255, 255, 255, 0.6);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(255, 255, 255, 0.6);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(255, 255, 255, 0.6);
    border-top-style: none;
    border-top-width: 0px;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgba(255, 255, 255, 0.6);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-footer-icon {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 2.45px;
    border-bottom-right-radius: 2.45px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 2.45px;
    border-top-right-radius: 2.45px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    object-fit: contain;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    width: 18px;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-rich-thumb {
    ;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: block;
    flex-shrink: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 80px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    max-height: 80px;
    max-width: 80px;
    object-fit: contain;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    width: 80px;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-author-icon {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 9px;
    margin-top: 0px;
    object-fit: contain;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    width: 20px;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-author-name {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-title {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 36px;
    line-height: 18px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-description markup {
    border-bottom-color: rgba(255, 255, 255, 0.701961);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(255, 255, 255, 0.701961);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(255, 255, 255, 0.701961);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(255, 255, 255, 0.701961);
    border-top-style: none;
    border-top-width: 0px;
    color: rgba(255, 255, 255, 0.701961);
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 16px;
    letter-spacing: normal;
    line-height: 16px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgba(255, 255, 255, 0.701961);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-select: text;
}
.embed-fields {
    border-bottom-color: rgba(255, 255, 255, 0.6);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(255, 255, 255, 0.6);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(255, 255, 255, 0.6);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(255, 255, 255, 0.6);
    border-top-style: none;
    border-top-width: 0px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -10px;
    outline-color: rgba(255, 255, 255, 0.6);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-user-select: text;
}
.embed-field {
    border-bottom-color: rgba(255, 255, 255, 0.6);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(255, 255, 255, 0.6);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(255, 255, 255, 0.6);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(255, 255, 255, 0.6);
    border-top-style: none;
    border-top-width: 0px;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    flex-basis: 0%;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 506px;
    min-width: 100%;
    outline-color: rgba(255, 255, 255, 0.6);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-box-flex: 0;
    -webkit-user-select: text;
}
